* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #161616;
  color: #fff;
}

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: -100%;
  cursor: wait;
}

.loader {
  cursor: wait;
}

.loader h1 {
  text-transform: uppercase;
  font-size: 10rem;
  color: rgba(255, 255, 255, .1);
  background: url("../images/loader.png") repeat-x bottom left;
  -webkit-background-clip: text;
  animation: wave 7.5s ease forwards;
  cursor: wait;
  margin-bottom: 1rem;
}

.loader-wrapper h3 {
  color: #f5f5f5;
  text-align: center;
  font-size: 1.5rem;
}

@keyframes wave {
  0% {
    background-position: left 0 top 200px;
  }
  100% {
    background-position: left 900px top 30px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 36px;
}

.header h1.title {
  font-size: 3rem;
  margin-bottom: 3rem;
  letter-spacing: 1.5px;
}

.header p {
  padding: 0 64px;
  text-align: center;
}

.button {
  margin: 8px;
  position: relative;
  left: -5px;
}

.button a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 24px 40px;
  letter-spacing: 4px;
  background: transparent;
  transition: .3s;
}

.button a:hover {
  color: #000;
  background-color: #f5f5f5;
}